.login-form {
    text-align: center;
    margin-block-start: 40px;
    h2 {
        margin-block: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        width: 300px;
        margin-inline: auto;
        gap: 15px;
        input{
            width: 200px;
            height: 28px;
            padding-inline-start: 6px;
            border-radius: 6px;
        }
        button {
            background-color: #999;
            padding-block: 6px;
            width: 200px;
            transition: .2s;
            border-radius: 6px;
            &:hover{
                background-color: #9995;
            }
        }
    }
}