::selection {
    background-color: $clr1;
    color: $clr2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: poppins, sans-serif;
    color: $light;
    line-height: 1.8;
    line-height: lh(26px);

    @media (max-width: 1300px) {
        font-size: 13px;
    }
}

body {
    margin: 0;
    background-color: $dark-01;
    min-height: 100vh;
    @include for-normal-layout {
        &.sidebar-open {
            overflow: hidden;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    font-family: poppins, sans-serif;
}

img,
iframe,
canvas {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a,
mark,
button {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
button {
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222324;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}