$clr1: #8721ff;
$clr2: #ff457e;
$clr3: #ff5353;
$clr4: #ff8f4a;

$dark: #333;
$dark-01: #222324;
$dark-03: #3333;
$dark-05: #3335;

$light: #F7F7F7;
// $light: #eee;
$light-03: #eee3;
$light-05: #eee5;

$mobile-breakpoint: 560px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;
$xx-wide-breakpoint: 2400px;
$xxx-wide-breakpoint: 2800px;

$layoutPadding: 20px;